body{
	margin: 0;
}
html{
	margin: 0;
	padding: 0;
}
h2{
	text-align: center;
}
a {
	color: #FCA311;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
nav > span {
	padding: 0 10px;
}
nav	{
	align-items: center;
	background-color: #14213D;
	display: flex;
	font-family: "SF Pro Text", "Segoe UI", "Trebuchet MS",monospace;
	font-size: 1rem;
	justify-content: flex-start;
	/*padding: 0 1rem;*/
	text-align: center;
	width: 100%;
}
.siteIcon{
	border-radius: 50%;
	height: 50px;
	/*padding-right: 10em;*/
}
header{
	border: 2px solid black;
}

header img {
	/*height: 5em;*/
	width: 100%;
}
.homePage{
	background-color: #E5E5E5;
}
.homePage main p{
	color: #14213D;
	font-family: Palatino, Garamond, serif;
	font-size: 1.5em;
	font-style: italic;
	text-align:center;
}
caption{
	display: none;
}
.cardRow td {
	padding-top: 20px;
}
.cardsPage{
	background-color: #587B7F;
}
.artPage{
	background-color: #BFFFF1;
}
.pokemonDisplay{
	text-align: center;
	width: 100%;
}
.pokemonDisplay th {
	background-color: #14213D;
	border-top: 2px solid #FCA311;
	color: #B6244F;
	font-family: "Andale mono", "Segoe UI", sans-serif;
	font-size: 3rem;
	font-weight: bold;
}
.pokemonCard{
	border: 1px solid black;
}
.cardTitle{
	color: #BFFFF1;
	font-family: "Andale mono", "Segoe UI", sans-serif;
	font-size: 1.5em;
}
.artDisplay{
	text-align: center;
	width: 100%;
}
.artDisplay th {
	background-color: #14213D;
	border-top: 2px solid #FCA311;
	color: #B6244F;
	font-family: "Andale mono", "Segoe UI", sans-serif;
	font-size: 3rem;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
.artRow td{
	padding-top: 20px;
}
table{
	border-collapse: collapse;
	width: 100%;
}